#div-1 {
	background-color: green;
	display: inline;
}

/*inline can be used when you want the elements to be side-by-side*/
/*span is an inline element, you can't control height and width*/
#span-1 {
	background-color: purple;
	height: 200px;
	width: 200px;
	display: none;
}

#span-2 {
	background-color: red;
	display: block;
}

#div-2 {
	background-color: hotpink;
/*display: none - will hide the element. used usually for mobile display responsiveness*/
	display: none;
}

/*img is an inline block element*/
/*inline-block - pwedeng tabihan and h/w can be modified*/
#img {
	height: 250px;
	width: 250px;
	display: inline-block;
}

#p-1 {
	background-color: #87CEFA;
}

#p-2 {
	background-color: rgb(255, 105, 180);
/*60% ng width ng parent*/
	width: 60%;
}
#p-3 {
	background-color: yellow;
	width: 40%;
}

.sample {
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
}

.img-float {
	width: 250px;
	height: 250px;
	/*float: inherit inherits the position/properties of the parent*/
	float: inherit;
}

.box {
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width: 50%;
}

.one-hundred-pixels {
	width: 100px;
}
/*% depends on the parent, pixels does not*/
.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw {
	width: 50vw;
}

.twenty-five-vh {
	height: 25vh;
}

.one-rem {
	font-size: 1rem;
}

.one-em {
	font-size: 1em;
}

.two-rem {
	font-size: 2rem
}

/*em multiplies the em value to the value of the parent's*/
.two-em {
	font-size: 2em;
}

.two-hundred-percent {
	font-size: 200%;
}

.background {
	min-height: 20rem;
/*	background-color: gray;
*/
	background-image: url(https://cutewallpaper.org/22/your-name-aesthetic-desktop-wallpapers/2954230375.jpg);
/*will not repeat your image if size isn't sufficient*/
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
/*allows you to scroll with the background (parallax)*/
	background-attachment: fixed;
}

.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
	line-height: 35rem;
}

.container-bg {
	background-color: rgba(0, 0, 0, 0.5);
}

.parent-element {
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 300vh;
}

.child-one {
	background-color: gray;
	padding: 10px;
}

/*absolute has no space in the layout*/
/*stay put - stay put*/
/*relative - will move where the properties will be set*/

.child-two {
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
}

.child-three {
	background-color: gray;
	padding: 10px;
}

html {
	height: 800vh;
}

/*parent with relative position will contain child with absolute positioning*/

.container {
	position: relative;
}

.black-box {
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box {
	position: absolute;
	z-index: 3;
	border: 2px solid black;
	background-color: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box {
	position: absolute;
	z-index: 2;
	background-color: lightgreen;
	border: 2px solid black;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 100px;
}