* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav .nav, nav .nav-logo {
	display: inline;
	list-style-type: none;
	padding: 1rem;
}

.right-nav {
	float: right;
}

nav {
	background-color: white;
	position: sticky;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	top: 0;
	z-index: 1;
}

.tuitt-button {
	padding: 1rem;
	font-weight: bold;
	border: none;
	border-radius: 50px;
	color: white;
	background-color: #c2195b;
	text-align: right;
}

#bg-image {
	min-height: 25rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center bottom;
	background-attachment: fixed;
	position: relative;
}

.front-bg {
	min-height: 25rem;
	background-color: rgba(0, 0, 0, 0.5);
}

.container {
	position: relative;
	color: white;
	text-align: right;
	float: right;
	padding-top: 5%;
	padding-right: 5%;
	width: 28vw;

}
.title, .title-2 {
	font-family: 'Zilla Slab', monospace;
	font-size: 29px;
}

.title {
	color: white;
}

.subtitle {
	font-size: 19px;
	font-weight: 200;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
.apply-button {
	padding: 1rem;
	font-size: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border: none;
	border-radius: 50px;
	color: white;
	background-color: #c2195b;
	text-align: right;
	}

.title-2 {
	padding-top: 4rem;
	padding-bottom: 4rem;
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;
	font-size: 2rem;
}

.intro-description {
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 7rem;
	font-weight: lighter;
}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
}

.prefooter-description { 
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 2rem;
	font-weight: lighter;
}

.book-button {
	font-size: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border: none;
	border-radius: 50px;
	color: white;
	background-color: #336589;
}

footer {
	display: inline-block;
	font-weight: lighter;
	padding-top: 1rem;
	width: 100%;
	text-align: center;
}